body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
}

.shake-container {
  display: inline-block;
}

.shake-text {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  animation: shake 0.1s infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}
